---
import { siteConfig } from '@/config';
import { Icon } from 'astro-icon/components';
---

<section class="author-box">
  <img
    src={`/assets/img/${siteConfig.authorPic}`}
    alt={siteConfig.author}
    class="author-img"
  />
  <div class="author-desc">
    <h2>{siteConfig.author}</h2>
    <p>{siteConfig.aboutAuthor}</p>
    <ul>
      {siteConfig.email && (
        <li class="email">
          <a href={`mailto:${siteConfig.email}`} aria-label="Email">
            <Icon name="lucide:mail" />
          </a>
        </li>
      )}
      {siteConfig.website && (
        <li class="website">
          <a href={`http://${siteConfig.website}`} target="_blank" aria-label="Website">
            <Icon name="lucide:globe" />
          </a>
        </li>
      )}
      {siteConfig.linkedin && (
        <li class="linkedin">
          <a href={`https://in.linkedin.com/in/${siteConfig.linkedin}`} target="_blank" aria-label="LinkedIn">
            <Icon name="simple-icons:linkedin" />
          </a>
        </li>
      )}
      {siteConfig.twitter && (
        <li class="twitter">
          <a href={`https://twitter.com/${siteConfig.twitter}`} target="_blank" aria-label="Twitter">
            <Icon name="simple-icons:twitter" />
          </a>
        </li>
      )}
    </ul>
  </div>
</section>
